<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <!--crie uma tela igual a do instagram-->
        <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://scontent-cdg2-1.cdninstagram.com/t51.2885-15/e35/13133532_1566338460883572_812667908_n.jpg">
            </div>
            <div class="col-md-8">
                <h1>Instagram</h1>
                <p>
                    <a href="https://www.instagram.com/p/BHb7y3z1yw1/" target="_blank">
                        <img src="https://scontent-cdg2-1.cdninstagram.com/t51.2885-15/e35/13133532_1566338460883572_812667908_n.jpg" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>